// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');

$boja-gumb:         #29ABE2; //#ff6d5a
$boja-gumb-hover: 	#2455A5;
$font-text-slab: 	'Roboto Slab', serif;
$font-text: 	'Lato', sans-serif;
$font-boja: 		#666666;
$font-boja-plava-prozirna:	rgb(41, 171, 226);
$font-boja-plava-hover: #29ABE2;
$font-plava-tamno: #2455A5;
$alpha: .6;

$velicina-podnaslov: 2em;
$velicina-tx: 1.2em;